* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  height: 84vh;
}
.navbar {
  background-color: aquamarine !important;
}
.register {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register div,
.login div {
  width: 300px !important;
}
.login {
  min-height: 100vh !important;
}
.filters {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 15px;
  box-shadow: 0 0 5px;
}
/* Antd icons */
.anticon svg {
  font-size: 20px;
  cursor: pointer;
}
