* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  height: 84vh;
}
.navbar {
  background-color: aquamarine !important;
}
.register {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register div,
.login div {
  width: 300px !important;
}
.login {
  min-height: 100vh !important;
}
