.landing {
    background-color: #3c065e;
    font-family: "Merriweather", serif;
    height: 370vh;
}

.nav {
    height: 10vh;
    color: white;
    font-style: italic;
    background-color: #3c065e !important;
}
.logo {
    height: 50px;
}
.link {
    text-decoration: none !important;
    color: white !important;
}
#home,
#features,
#contact,
#about {
    height: 90vh;
    padding-top: 10vh;
}
.btn-shadow {
    border-radius: 10px;
    padding: 5px 8px;
    box-shadow: rgba(57, 11, 131, 0.12) 0px 2px 4px 0px, rgba(48, 1, 136, 0.548) 0px 2px 16px 0px;
}
.active {
    border-bottom: 2px solid #c535b2;
}
